header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div {
    width: 50%;
    display: flex;
    justify-content: center;
}

header nav {
    width: 50%;
}


ul {
    display: flex;
    padding: 0
}

ul li {
    margin: 0 20px 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.hero-area {    
    height: 450px;
    width: 100%;
    background-image: url("/img/intricate-explorer-iXn9QlSV2wA-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me img {
    height: 300px;
    width: 300px;
}

.about-me p {
    width: 70%;
}


